//Yu-GI-OH

public class Normalemonster {
    public int ATK;
    public int DEF;
    public int Stufe;
    public String Name;
    public String Typ;

public void Angreifen() {
  system.out.println ("angreifen");
}

public void Verteidigen() {
  system.out.println ("verteidigen");
  }
}
